<nav class="navbar">
  <div class="navbar-content">
    <% if controller_name == 'categories' && action_name == 'index' %>
        <p><i class="fa-solid fa-bars"></i></p>
       <p>Categories</p>
       <p><i class="fa-solid fa-magnifying-glass"></i></p>



    <% elsif controller_name == 'registrations' && action_name == 'new' %>
        <p> <%= link_to :back, class: 'nav-link back-icon' do %>
        <i class="fa-solid fa-arrow-left"></i>
        </p><% end %>

      <p>Registration</p>
       <p>Next</p>
    <% elsif controller_name == 'sessions' && action_name == 'new' %>
      <p> <%= link_to :back, class: 'nav-link back-icon' do %>
          <i class="fa-solid fa-arrow-left"></i>
        <% end %>
      </p>
      <p>Login</p>
       <p>Next</p>
    <% elsif controller_name == 'transaction_budgets'  %>
      <p> <%= link_to :back, class: 'nav-link back-icon' do %>
        <i class="fa-solid fa-arrow-left"></i>
        <% end %>
       </p>
       <p>Details</p>
       <p></p>
    <% end %>
  </div>
</nav>
