/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* app/assets/stylesheets/custom.css */

/* Global styles */
body {
 font-family: Arial, sans-serif;
 background-color: #f7f7f7;
}

/* Header styles */
header {
 background-color: #333;
 color: #fff;
 padding: 10px;
}

/* Category list styles */
ul.category-list {
 list-style: none;
 padding: 0;
}

ul.category-list li {
 margin-bottom: 10px;
 padding: 10px;
 background-color: #fff;
 border: 1px solid #ccc;
 border-radius: 5px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul.category-list li h2 {
 font-size: 1.2em;
}

/* Button styles */
.btn {
 display: inline-block;
 padding: 8px 16px;
 background-color: #007bff;
 color: #fff;
 text-decoration: none;
 border-radius: 5px;
 transition: background-color 0.3s;
}

.btn:hover {
 background-color: #0056b3;
}

img{
 width: 50px;
 height: 50px;
}
